body {
    margin: 0;
    font-family: "Lucida Grande";
}

header {
    height: 65px;
    width: 100%;
    /* background-color: #0F5272; */
    position :fixed;
    top: 0;
    z-index: 10;
}

.logoHome{
    line-height: 65px;
    display: block;
    float: left;
    padding: 0 25px;
    font-size: 20px;
    color: white;
}

a{
    text-decoration: none;
}

.menu, .logoHome{
    padding: 0 100px;
}

.menu a{
    display: block;
    line-height: 65px;
    color: white;
    padding: 0 25px;
    float: right;
    transition: all 0.5s;
    font-size: 20px;
}

.menu:link{
    background-color: thistle;
    color: white;
}

.menu a:hover{
    background-color: rgba(0, 159, 199, 0.5);
}

.profile{
    background-image: url("Download premium illustration of Blue polygon on dark background social 1.jpg");
    padding: 180px 0 100px 0;
    background-size: cover;
}

.pp{
    display: block;
    height: 250px;
    margin: auto;
}

h1{
    text-align: center;
    margin-bottom: 0px;
    color: white;
    /* margin-top: 100px; */
}

h2{
    text-align: center;
    margin-top: 0px;
    font-family: fantasy;
    font-size: 17px;
    letter-spacing: 7px;
    color: white;
}